* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1B1A1A;
}

::-webkit-scrollbar-track {
  background-color: #0a7dd0;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: #fff;
}

.navigation {
  width: 100%;
  max-width: 80rem;
  background-color: #161616;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.navigation .navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.navigation .navTop .navTop__title {
  font: bold 1.875rem "Roboto", Sans-Serif;
  padding: 0.5rem 1rem;
  background-color: #303030;
  border-radius: 1.875rem;
  color: #fff;
}
.navigation .navTop .navTop__title span {
  color: #0094FF;
}
.navigation .navTop .list {
  display: flex;
  list-style: none;
  align-items: center;
}
.navigation .navTop .list .list__item .item {
  padding: 0.6rem 1rem;
  color: #fff;
  text-decoration: none;
  font: 1rem "Roboto", Sans-serif;
  transition: 0.3s ease-in-out;
}
.navigation .navTop .list .list__item .item:hover {
  color: #0094FF;
}
.navigation .navTop .navTop__search {
  padding: 0.5rem 1.5rem;
  outline: 0;
  border-radius: 0.5rem;
  border: none;
}
.navigation .navTop .navTop__search:active {
  color: #0094FF;
  outline: auto;
}
.navigation .navTop .navTop__search::placeholder {
  color: #0094FF;
  opacity: 0.6;
}
.navigation .navTop span .glass {
  position: absolute;
  right: 14.3rem;
  width: 0.9rem;
  top: 2.1rem;
}

.contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  max-width: 80rem;
}
.contents .description .description__title {
  font: bold 1.875rem "Roboto", Sans-Serif;
  color: #fff;
  margin-left: -5rem;
}
.contents .description .description__title span {
  color: #0094FF;
}
.contents .description .description__text {
  font: bold 1.2rem "Roboto", Sans-serif;
  color: #fff;
  width: 20rem;
  margin: 0 0 2.8rem -5rem;
}
.contents .description .description__btn {
  padding: 0.8rem 1.5rem;
  background-color: #0094FF;
  border-radius: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin: 0 0 0 -1rem;
  font: 1rem "Roboto", Sans-serif;
}
.contents .description .description__title2 {
  font: bold 1.875rem "Roboto", Sans-Serif;
  color: #fff;
  margin: 5.625rem 0 0 -1rem;
}
.contents .figure {
  position: relative;
}
.contents .figure::before {
  content: "";
  background-color: #0094FF;
  width: 18rem;
  position: absolute;
  height: 18rem;
  border-radius: 50%;
  left: 15rem;
  top: 5rem;
  z-index: 0;
}
.contents .figure .figure__img {
  position: absolute;
  right: -8rem;
  top: 6rem;
  width: 30rem;
  position: relative;
  z-index: 2;
}

.animesCovers {
  width: 90%;
  max-width: 80rem;
  position: absolute;
  top: 29rem;
  left: 4rem;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(1.5px);
  padding: 0 0 0.5rem 0;
}
.animesCovers .animesCovers__img img {
  height: 14rem;
  border-radius: 0.5rem;
}
.animesCovers .animesCovers__img .animesCovers__title {
  margin-top: 1rem;
  color: #fff;
  font: bold 0.9rem "Roboto", Sans-serif;
}
.animesCovers .animesCovers__img .animesCovers__text {
  margin: 0.3rem 0 0 0;
  color: rgba(255, 255, 255, 0.563);
  font: 0.7rem "Roboto", Sans-serif;
}
.animesCovers .animesCovers__img .animesCovers__text i {
  margin: 0 0 0 1rem;
  color: #0094FF;
  font-size: 0.7rem;
}

/*# sourceMappingURL=complet.css.map */
