.base {
  width: 85%;
  margin: 5rem 0 4rem 0;
  background: #1B1A1A;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0094FF;
}

.ellipse1 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: -1;
}

.ellipse2 {
  z-index: -1;
  position: absolute;
  bottom: -11rem;
  left: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #0a7dd0;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: #fff;
}

.navigation {
  width: 100%;
  background-color: #161616;
  border-radius: 2rem 2rem 0 0;
}
.navigation .navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.6rem;
}
.navigation .navTop .navTop__title {
  font: bold 2rem "Roboto", Sans-Serif;
  padding: 0.5rem 1rem;
  background-color: #303030;
  border-radius: 1.875rem;
  color: #fff;
}
.navigation .navTop .navTop__title span {
  color: #0094FF;
}
.navigation .navTop .list {
  display: flex;
  list-style: none;
  align-items: center;
}
.navigation .navTop .list .list__item .item {
  padding: 0.6rem 1rem;
  color: #fff;
  text-decoration: none;
  font: 1rem "Roboto", Sans-serif;
  transition: 0.3s ease-in-out;
}
.navigation .navTop .list .list__item .item:hover {
  color: #0094FF;
}
.navigation .navTop .navTop__search {
  padding: 0.5rem 1rem;
  outline: 0;
  border-radius: 0.5rem;
  border: none;
}
.navigation .navTop .navTop__search:active {
  color: #0094FF;
  outline: auto;
}

.contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contents .description {
  margin: -7rem 0 0 -7rem;
}
.contents .description .description__title {
  font: bold 2rem "Roboto", Sans-Serif;
  color: #fff;
}
.contents .description .description__title span {
  color: #0094FF;
}
.contents .description .description__text {
  font: 1rem "Roboto", Sans-serif;
  color: #fff;
  width: 20rem;
  margin-bottom: 1.5rem;
}
.contents .description .description__btn {
  padding: 0.5rem 2rem;
  background-color: #0094FF;
  border-radius: 1.5rem;
  color: #fff;
  text-decoration: none;
  font: 1rem "Roboto", Sans-serif;
  margin-left: 2rem;
}
.contents .description .description__title2 {
  font: bold 2rem "Roboto", Sans-Serif;
  color: #fff;
  margin: 4rem 0 0 1.6rem;
}
.contents .figure {
  position: relative;
}
.contents .figure::before {
  content: "";
  background-color: #0094FF;
  width: 18rem;
  position: absolute;
  height: 18rem;
  border-radius: 50%;
  top: 1.6rem;
  left: 7rem;
  z-index: 0;
}
.contents .figure .figure__img {
  margin-top: 2rem;
  width: 30rem;
  position: relative;
  z-index: 2;
}

.animesCovers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -11rem;
  position: relative;
  z-index: 3;
  backdrop-filter: blur(1px);
  padding: 0 0 0.5rem 0;
}
.animesCovers .animesCovers__img img {
  height: 14rem;
  border-radius: 0.5rem;
}
.animesCovers .animesCovers__img .animesCovers__title {
  margin-top: 1rem;
  color: #fff;
  font: bold 0.9rem "Roboto", Sans-serif;
}
.animesCovers .animesCovers__img .animesCovers__text {
  margin: 0.3rem 0 0 0;
  color: rgba(255, 255, 255, 0.563);
  font: 0.7rem "Roboto", Sans-serif;
}
.animesCovers .animesCovers__img .animesCovers__text i {
  margin: 0 0 0 1rem;
  color: #0094FF;
  font-size: 0.7rem;
}

/*# sourceMappingURL=complet.css.map */
